/Practica2_LDOO/nbproject/private/
/Practica2_LDOO/build/
/Practica 3/nbproject/private/
/Practica 3/build/
/.metadata/
/Practica4/nbproject/private/
/Practica4/build/
/Practica4/dist/
/Practicas V y VI/nbproject/private/
/Practicas V y VI/build/
/Practicas V y VI/dist/