/Practica2_LDOO/nbproject/private/
/Practica2_LDOO/build/
/Practica 3/nbproject/private/
/Practica 3/build/
/.metadata/
/Practica4/nbproject/private/
/Practica4/build/
/Practica4/dist/
/Practicas V y VI/nbproject/private/
/Practicas V y VI/build/
/Practicas V y VI/dist/
/Practica JDBC/nbproject/private/
/Practica JDBC/build/
/Practica JDBC/dist/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/JavaApplication2/dist/
/Practica2_LDOO/dist/
/Practica 3/dist/
/Patrones de Diseño/nbproject/private/
/Patrones de Diseño/build/
/Patrones de Diseño/dist/