body{
    background-color: #006666;
    background-repeat: repeat;
}

h1{
   text-align: center;
   font-family: brothers; 
   font-size: 120px;
   text-align: center;
}
div{
    background-color: rgba(204, 189, 150,.90)
}

h2{
    text-align: center;
}
form{
    text-align: center;
}